.selector {
  margin: 10px auto;
  position: relative;
  display: none;
  min-height: 85px;
  /* URL Selector */ }
  .selector .thumbnail {
    float: left;
    margin: 0 10px 0 0;
    position: relative; }
    .selector .thumbnail .items {
      position: relative;
      overflow: hidden;
      padding: 0px; }
      .selector .thumbnail .items .images {
        position: absolute;
        width: 300em;
        margin: 0px;
        padding: 0px;
        left: 0px; }
        .selector .thumbnail .items .images li {
          list-style: none;
          float: left;
          margin: 0px;
          padding: 0px; }
    .selector .thumbnail .nothumb {
      right: 2px;
      font-weight: bold;
      top: 1px; }
  .selector input {
    width: 420px; }
  .selector textarea {
    width: 420px;
    margin: 5px 0; }
  .selector .media iframe, .selector .media object, .selector .media embed, .selector .media img {
    margin: 10px auto;
    display: block; }
  .selector .media img {
    max-width: 500px; }
  .selector.large .title {
    font-size: 14px;
    margin: 0 0 10px;
    display: block; }
  .selector.large input {
    width: 520px; }
  .selector.large textarea {
    width: 520px;
    height: 70px;
    margin: 5px 0; }
  .selector.large .thumbnail {
    width: 560px; }
    .selector.large .thumbnail a.left, .selector.large .thumbnail a.right {
      display: block;
      float: left;
      width: 20px;
      text-align: center;
      padding: 100px 0 0 0; }
    .selector.large .thumbnail .items {
      height: 300px;
      width: 400px;
      margin: 0 50px;
      float: left; }
      .selector.large .thumbnail .items .images li {
        width: 400px; }
      .selector.large .thumbnail .items .images img {
        max-width: 400px;
        max-height: 300px;
        margin: 0 auto;
        display: block; }
  .selector.rich .thumbnail, .selector.small .thumbnail {
    width: 100px; }
    .selector.rich .thumbnail .items, .selector.small .thumbnail .items {
      height: 100px;
      width: 100px; }
      .selector.rich .thumbnail .items .images li, .selector.small .thumbnail .items .images li {
        width: 100px; }
      .selector.rich .thumbnail .items .images img, .selector.small .thumbnail .items .images img {
        width: 100px; }
    .selector.rich .thumbnail .controls, .selector.small .thumbnail .controls {
      top: 0px;
      left: 0px;
      width: 100px;
      position: absolute;
      height: 16px;
      z-index: 1;
      background-color: #222;
      opacity: 0.5; }
      .selector.rich .thumbnail .controls .left, .selector.rich .thumbnail .controls .right, .selector.rich .thumbnail .controls .nothumb, .selector.small .thumbnail .controls .left, .selector.small .thumbnail .controls .right, .selector.small .thumbnail .controls .nothumb {
        display: block;
        position: absolute;
        top: 2px;
        color: #fff; }
        .selector.rich .thumbnail .controls .left:hover, .selector.rich .thumbnail .controls .right:hover, .selector.rich .thumbnail .controls .nothumb:hover, .selector.small .thumbnail .controls .left:hover, .selector.small .thumbnail .controls .right:hover, .selector.small .thumbnail .controls .nothumb:hover {
          text-decoration: none; }
      .selector.rich .thumbnail .controls .nothumb, .selector.small .thumbnail .controls .nothumb {
        right: 2px;
        font-weight: bold;
        top: 1px; }
      .selector.rich .thumbnail .controls .left, .selector.small .thumbnail .controls .left {
        left: 2px; }
      .selector.rich .thumbnail .controls .right, .selector.small .thumbnail .controls .right {
        left: 16px; }
  .selector.small .attributes {
    margin: 0 0 0 110px; }
  .selector.rich .title {
    font-size: 14px;
    margin: 0 0 10px;
    display: block; }
  .selector .attributes a {
    text-decoration: none; }
    .selector .attributes a.title:hover, .selector .attributes a.description:hover {
      text-decoration: none;
      background-color: #FFF6D9; }
    .selector .attributes a.description {
      color: #000; }
    .selector .attributes a.title {
      margin: 0 0 5px;
      display: block; }
  .selector .attributes .meta {
    display: block; }
    .selector .attributes .meta .favicon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin: 0 3px 0 0; }
  .selector .action {
    position: absolute;
    top: 0;
    right: 0;
    display: none; }

.loading {
  display: none; }
  .loading img {
    display: block;
    margin: 10px auto; }

.item {
  margin: 10px 0;
  border-top: 1px solid #DDD;
  padding: 10px 0; }
  .item.video .media iframe, .item.video .media object, .item.video .media embed, .item.video .media img, .item.rich .media iframe, .item.rich .media object, .item.rich .media embed, .item.rich .media img, .item.photo .media iframe, .item.photo .media object, .item.photo .media embed, .item.photo .media img {
    margin: 10px auto;
    display: block; }
  .item.video .media img, .item.rich .media img, .item.photo .media img {
    max-width: 560px; }
  .item.video .title, .item.rich .title, .item.photo .title {
    margin: 10px 0;
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    color: #333; }
  .item .status {
    line-height: 1.2em;
    margin: 10px 0;
    padding: 5px; }
  .item .thumbnail {
    margin: 10px 10px 10px 5px;
    width: 105px;
    float: left; }
    .item .thumbnail a {
      display: table-cell;
      width: 100px;
      height: 75px;
      overflow: hidden;
      background-color: #DDD;
      vertical-align: middle;
      position: relative;
      text-align: center; }
    .item .thumbnail img {
      max-width: 100px;
      vertical-align: middle;
      max-height: 75px; }
    .item .thumbnail.video .overlay, .item .thumbnail.rich .overlay {
      background-image: url(images/play.png);
      width: 26px;
      height: 25px;
      position: absolute;
      right: 5px;
      bottom: 5px; }
  .item .attributes {
    background-color: #EFEFEF;
    padding: 5px; }
  .item .meta {
    display: block; }
    .item .meta .favicon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin: 0 3px 0 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
