#selector {
  margin: 10px auto;
  position:relative;
  .thumbnail{
    width:100px;
    float: left;
    margin:0 10px 0 0;
    .items{
      position: relative;
      overflow:hidden;
      height:100px;
      padding: 0px;
      width: 100px;
      .images {
        position:absolute;
        width:300em;
        margin: 0px;
        padding: 0px;
        left:0px;
        li{
          list-style:none;
          float:left;
          margin: 0px;
          padding: 0px;
        }
        img{
          width:100px;
        }
      }
    }
    .controls {
      top: 0px;
      left: 0px;
      width: 100px;
      position: absolute;
      height: 16px;
      z-index: 1;
      background-color:#222;
      opacity:0.5;
      .left, .right, .nothumb {
        display:block;
        position:absolute;
        top:2px;
        color: #fff;
        &:hover{
          text-decoration:none;
        }
      }
      .nothumb{
        right: 2px;
        font-weight: bold;
        top: 1px;
      }
      .left {
        left:2px;
      }
      .right{
        left:16px;
      }
    }
  }
  .attributes {
    a {
      text-decoration:none;
      &.title, &.description{
        &:hover{
          text-decoration:none;
          background-color:#FFF6D9;
        }
      }
      &.description{
       color:#000;
      }
      &.title{
        margin: 0 0 5px;
        display: block;
      }
    }
    input {
      width: 420px;
    }
    textarea {
      width: 420px;
      margin: 5px 0;
    }
    .meta {
      display: block;
      .favicon{
        width:16px;
        height:16px;
        vertical-align: middle;
        margin: 0 3px 0 0;
      }
      .provider {
        
      }
    
    }
    
  }
  .action{
    position: absolute;
    top: 0;
    right: 0;
    display:none;
    .close {
    
    }
  }
}

#loading {
  display:none;
  img{
    display:block;
    margin : 10px auto;
  }
}