#selector {
  margin: 10px auto;
  position:relative;
  .thumbnail{
    width:100px;
    float: left;
    margin:0 10px 0 0;
    .items{
      position: relative;
      overflow:hidden;
      height:100px;
      padding: 0px;
      width: 100px;
      .images {
        position:absolute;
        width:300em;
        margin: 0px;
        padding: 0px;
        left:0px;
        li{
          list-style:none;
          float:left;
          margin: 0px;
          padding: 0px;
        }
        img{
          width:100px;
        }
      }
    }
    .controls {
      top: 0px;
      left: 0px;
      width: 100px;
      position: absolute;
      height: 16px;
      z-index: 1;
      background-color:#222;
      opacity:0.5;
      .left, .right, .nothumb {
        display:block;
        position:absolute;
        top:2px;
        color: #fff;
        &:hover{
          text-decoration:none;
        }
      }
      .nothumb{
        right: 2px;
        font-weight: bold;
        top: 1px;
      }
      .left {
        left:2px;
      }
      .right{
        left:16px;
      }
    }
  }
  .attributes {
    a {
      color : #000000;
      &:hoover{
        text-decoration:none;
        background-color:#FFF6D9;
      }
    }  
  }
  .action{
    position: absolute;
    top: 0;
    right: 0;
    display:none;
    .close {
    
    }
  }
}